# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
deployment_instructions.txt

# Raw root assets to ignore
/Aura Capstone Final Proposal  (4).pdf
/Aura_System_Architecture.png
/Aura_TechStack.png
/Beacon_techstack.png
/BloomUp_System.png
/BloomUp_Tech.png
/BloomUp_proposal (3).pdf
/logo-svg.svg


# Ignore large project assets exceeding GitHub limits
/public/projects/bloomup-proposal.pdf


